@import url(https://fonts.googleapis.com/css?family=Roboto:100);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

#wrapper{
    position: absolute;
    background-color: blue;
    width:100%;
    height:100%;
    text-align: center;
    color: #fff;
}

h1{
    font-size: 5rem;
    font-weight: 300;
    margin: 10rem 0;
    font-family: "Roboto", Arial, sans-serif;
}

.loading-spinner{
    width: 10rem;
    height: 10rem;
    display: inline-block;
    border: 3px solid rgba(255,255,255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    margin-bottom:10rem;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

/*spinner end*/


.loading-dots > div{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
     
}
.loading-dots .bounce{
    animation-delay: -0.30s;
}

.loading-dots .bounce2{
    animation-delay: -0.15s;
}

@keyframes bounce{
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}


/* 
.tweet_text {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: animate 2s linear forwards;
    text-align: center;
}

.tweet_text h1 {
    color: white;
    text-align: center;
}

@keyframes animate {
    0%,80%,100%{
        transform: scale(0);
        position: relative;
    }
    60%{
        transform: scale(1);
        position: relative;
    }
} */
