<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Oil and Gas Tweets</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto:100);
        @import url(https://www.w3schools.com/w3css/4/w3.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: blue;
    height: 100%;
}

html{
    font-size: 10px;
}

#wrapper{
    position: absolute;
    background-color: blue;
    width:100%;
    height:auto;
    text-align: center;
    color: #fff;
}



h1{
    font-size: 5rem;
    font-weight: 300;
    margin: 10rem 0;
    font-family: "Roboto", Arial, sans-serif;
}

.info{
     animation: 5s stretch 5s infinite ease-in-out both
}

@keyframes stretch{
     0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }

}
.loading-spinner{
    width: 10rem;
    height: 10rem;
    display: inline-block;
    border: 3px solid rgba(255,255,255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    margin-bottom:10rem;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

/*spinner end*/


.loading-dots > div{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    animation: 1.5s bounce infinite ease-in-out both;
     
}
.loading-dots .bounce{
    animation-delay: -0.30s;
}

.loading-dots .bounce2{
    animation-delay: -0.15s;
}

@keyframes bounce{
    0%,80%,100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}

    </style>
</head>
<body>
    <div id="wrapper">
        <h1>Oil and Gas Tweets</h1>
        <!--Spinner-->
        <div class="loading-spinner"></div>

        <!--Dots loader-->
        <div class="loading-dots">
            <div class="bounce"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        
            <h3 class="info">{{ last_tweet.text }}</h3>
       
    </div>
   

</body>
</html>
